$navbar-height: 1rem /* 75/75 */;
$navbar-background-color: #fff;
$navbar-font-size: 28px;
$navbar-color: #595757;
$navbar-border-color: #dddddd;

.wd-navbar {
  display: flex;
  width: 100%;
  height: $navbar-height;
  line-height: $navbar-height;
  background-color: $navbar-background-color;
   font-size:.4375rem /* 7/16 */;
  //@include font-dpr(16px);
  color: $navbar-color;
  box-sizing: border-box;
  border-bottom: 1px solid $navbar-border-color; /* no */
}