
$tabbar-height: 1.546667rem;
$tabbar-background-color: #ffffff;
$tabbar-font-size: 20px;
$tabbar-color: #737373;
$tabbar-border-color: #cccccc;
.wd-tabbar {
  display: flex;
  width: 10rem;
  height: $tabbar-height;
  line-height: $tabbar-height;
  font-size: $tabbar-font-size; /* px */
  color: $tabbar-color;
  box-sizing: border-box;
  background-color: $tabbar-background-color;
  box-shadow: 0 0 10px 0 rgba(155, 143, 143, 0.6);
  -webkit-box-shadow: 0 0 10px 0 rgba(155, 143, 143, 0.6);
  -moz-box-shadow: 0 0 10px 0 rgba(155, 143, 143, 0.6);
  .wd-tab-item {
    margin: 0 auto;
    text-align: center;
    float: left;
  }
}